@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222222;
  color: white;
}

.container {
  width: 65%;
  margin: 100px auto;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px auto;
  gap: 25px;
}

.divider {
  border-bottom: 1px solid gray;
  width: 60%;
}

h1 {
  font-family: "Audiowide", cursive;
  font-size: 42px;
}
h4 {
  font-family: "Audiowide", cursive;
  font-size: 18px;
}
span {
  font-family: "Audiowide";
  font-size: 20px;
}
h5 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
}

.wrapper {
  width: 85%;
}
.body-wrapper {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* gap: 25px;
  margin: 0 auto; */
  /* margin-top: -50px; */
}

.header-text {
  margin-bottom: 22px;
}

p {
  font-family: "Montserrat";
  font-weight: 200;
  line-height: 1.45;
  font-size: 14px;
}

.image-container {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(0, 0, 0, 0.5)
    ),
    url("/static/images/profile.jpg");
}

.text-container {
  width: 70%;
}

.projects {
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  margin-top: 25px;
  width: 85%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 25px;
}

.project-image {
  width: 450px;
}

.project-image img {
  width: 100%;
}
