@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: rgb(157, 157, 249);
  font-family: "Montserrat";
}

body {
  background-color: #222222;
  color: white;
}

.container {
  width: 65%;
  margin: 100px auto;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px auto;
  gap: 25px;
}

.divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.rule {
  border-bottom: 1px solid grey;
  width: 90%;
}

h1 {
  font-family: "Audiowide", cursive;
  font-size: 30px;
  font-weight: 100;
}
h4 {
  font-family: "Audiowide", cursive;
  font-size: 18px;
}
span {
  font-family: "Audiowide";
  font-size: 20px;
}
h5 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
}
h6 {
  font-family: "Audiowide";
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 15px;
}

.wrapper {
  width: 85%;
}

.header-text {
  margin-bottom: 22px;
}

p {
  font-family: "Montserrat";
  font-weight: 200;
  line-height: 1.45;
  font-size: 14px;
  margin-bottom: 10px;
}

.image-container {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(0, 0, 0, 0.5)
    ),
    url("/static/images/profile.jpg");
}

.text-container {
  width: 70%;
}

.projects {
  width: 70%;
  margin: 25px auto;
  border: 1px solid grey;
  border-radius: 5px;
}

.project-text {
  padding: 15px 20px;
}
.contact {
  margin: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav {
  display: flex;
  gap: 25px;
  padding: 10px;
  position: fixed;
  margin-top: -100px;
  background: #000;
  width: 100%;
  justify-content: center;
}

.nav a {
  font-family: "Audiowide";
  font-size: 15px;
  font-weight: 100;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all ease-in;
  color: grey;
}

.nav a:hover {
  background-color: grey;
  color: whitesmoke;
}

.contact a:hover {
  color: grey;
}

@media only screen and (max-width: 680px) {
  .container {
    width: 85%;
    margin: 100px auto;
  }
  .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-container {
    width: 100%;
  }
  .projects {
    width: 100%;
  }
  .contact {
    gap: 55px;
  }
  .image-container {
    width: 300px;
    height: 300px;
  }

  h1 {
    font-size: 25px;
  }
}
